.idea
*.pyc
__pycache__
.DS_Store
/tmp/
.env
*.bin
cache/
*.cookie
keys/
*.log
*.mp4
/log/
/.pytest_cache/
obstacle-tower-env/
obstacletower.app/
data/
ml-agents/
move_memory_to_ml.sh
pull_from_ml.sh
sync_to_ml.sh
