[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
tensorflow = "*"
gym = "*"
pillow = "*"
obstacle-tower-env = {editable = true,path = "./obstacle-tower-env"}
opencv-python = "*"
moke-config = "*"
mlagents = {editable = true,path = "./ml-agents/ml-agents"}

[requires]
python_version = "3.6"
